<configuration>
  <connectionStrings>
    <add name="AddressBookDatabase"
         connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=learn;Trust Server Certificate=true;Integrated Security=True;Persist Security Info=True"/>
  </connectionStrings>
</configuration>

<!--
         connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=learn;Trust Server Certificate=true;Integrated Security=False;Persist Security Info=True;User ID=naoki927;Password=naoki927"/>
-->